<tr>
  <td><%= person.reference %></td>
  <td><%= person.email %></td>
  <td><%= person.home_phone_number %></td>
  <td><%= person.mobile_phone_number %></td>
  <td><%= person.firstname %></td>
  <td><%= person.lastname %></td>
  <td><%= person.address %></td>
</tr>