<tr>
  <td><%= building.reference %></td>
  <td><%= building.address %></td>
  <td><%= building.zip_code %></td>
  <td><%= building.city %></td>
  <td><%= building.country %></td>
  <td><%= building.manager_name %></td>
</tr>